<div id="<%= restaurant %>">
  <h3>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </h3>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

   <p>
    <strong>Address:</strong>
    <%= restaurant.category %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.phone_number %>
  </p>

</div>
